body {
  width: 400px;
  background-color: #f3f9f1;
  margin: 0 auto;
  text-align: center;
}
body .hidden {
  display: none;
}
body * {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 13pt;
}
body #topbar {
  background-color: #f3f9f1;
  margin-left: 0px;
  height: 60px;
  text-align: left;
  display: flex;
}
body #topbar img {
  width: 50px;
  height: auto;
  margin-top: 0px;
  text-align: left;
  display: flex;
}
body #mainNav {
  list-style-type: none;
  max-width: 550px;
  text-align: center;
  height: auto;
  display: none;
}
body #mainNav ul {
  list-style-type: none;
  padding: 10px;
}
body #mainNav li {
  list-style-type: none;
  font-size: 15px;
  margin-left: 8px;
  padding-bottom: 8px;
}
body #mainNav a {
  list-style-type: none;
  color: #5eb4e9;
  padding: 10px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
}
body #mainNav a:hover {
  color: orange;
}
body #mainheader {
  width: 300px;
  height: 650px;
  text-align: right;
  margin-top: 100px;
}
body #mainheader img {
  width: 400px;
  height: auto;
  margin: 0 auto;
  margin-left: 0px;
}
body #mainheader h2 {
  font-size: 45px;
  text-align: center;
  color: #bdbdbd;
  margin-top: 80px;
  width: 200px;
  margin-left: 220px;
  font-family: "Baloo Bhai", cursive;
}
body #mainheader .greenbar {
  width: 260px;
  height: 16px;
  background-color: #ffd900;
  margin-left: 130px;
}
body #mainheader .yellowbar {
  width: 450px;
  height: 6px;
  background-color: #00acb8;
  margin-left: 0px;
  margin-top: 20px;
}
body #mainheader h3 {
  font-size: 28px;
  text-align: right;
  margin: 0 auto;
  color: #b0b0b0;
  margin-top: 28px;
  margin-left: 220px;
  font-family: "Lobster", cursive;
}
body #mainheader p {
  width: 300px;
  font-size: 22px;
  text-align: right;
  margin: 0 auto;
  color: #3e3e3e;
  margin-top: 22px;
  margin-bottom: 20px;
  margin-left: 100px;
  font-family: "Baloo Bhai", cursive;
}
body .part1 {
  text-align: center;
  margin: 0 auto;
  display: inline;
}
body .part1 .greybar {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: grey;
  height: 5px;
  margin-top: 30px;
  display: flex;
}
body .part1 img {
  width: 200px;
  height: auto;
}
body .part1 p {
  text-align: center;
  width: 330px;
  font-size: 22px;
  color: #5592ad;
  margin-top: 0px;
  margin-left: 30px;
  font-family: "Didact Gothic", sans-serif;
}
body #about {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
}
body #about h3 {
  text-align: left;
  color: #ffd900;
  font-size: 30px;
}
body #about p {
  text-align: center;
  color: darkolivegreen;
  font-size: 22px;
  margin-top: 30px;
  font-family: "Didact Gothic", sans-serif;
}
body #about .greybar2 {
  width: 220px;
  height: 6px;
  background-color: #b8e1e4;
  text-align: center;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
}
body #about #pastwork {
  text-align: center;
  margin: 0 auto;
  display: inline;
}
body #about #pastwork img {
  width: 200px;
  height: auto;
  margin-top: 30px;
  border-radius: 20px;
}
body #about #pastwork #pastwork1 {
  display: inline;
}
body #about #pastwork #pastwork2 {
  display: inline;
}
body #contact {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}
body #contact .greybar3 {
  width: 230px;
  height: 10px;
  margin-top: 20px;
  background-color: #95cbc7;
  margin-bottom: 60px;
}
body #contact #contacttable {
  display: flex;
}
body #contact #contacttable .part4 {
  display: none;
}
body #contact h2 {
  font-size: 30px;
  color: #ffd900;
  text-align: left;
  margin: 0 auto;
}
body #contact input {
  height: 40px;
}
body #contact label {
  font-size: 18px;
  text-align: left;
  color: #1a7fab;
  margin-bottom: 10px;
}
body #contact #submit {
  margin-top: 20px;
  color: #1a7fab;
  font-size: 18px;
}
body #photograph {
  text-align: center;
  margin: 0 auto;
  width: 400px;
}
body #photograph h2 {
  font-size: 16px;
  color: #d4dca9;
  text-align: right;
  margin-top: 40px;
  display: flex;
  font-family: "Didact Gothic", sans-serif;
}
body #photograph .bluebar {
  margin-top: 10px;
  width: 300px;
  height: 3px;
  background-color: aquamarine;
  text-align: right;
}
body #photograph img {
  width: 400px;
  height: auto;
  margin-top: 20px;
}
body #footer {
  display: inline;
  list-style-type: none;
}
body #footer .socialMedia {
  display: inline;
}
body #footer .socialMedia ul {
  list-style-type: none;
  margin-top: 30px;
}
body #footer .socialMedia ul li {
  display: inline;
  margin-left: 25px;
}
body #footer .socialMedia img {
  width: 50px;
  height: auto;
}

@media screen and (min-width: 600px) {
  body {
    width: 750px;
    background-color: #faf8ed;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 13pt;
    list-style-type: none;
  }
  body #topbar {
    width: 750px;
    height: 60px;
    background-color: #89d2e8;
    margin-left: 0px;
    display: none;
  }
  body #topbar img {
    display: none;
    width: 90px;
    height: auto;
    margin-left: -220px;
    margin-top: -20px;
  }
  body #mainNav {
    display: inline;
    text-align: center;
  }
  body #mainNav ul {
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-top: 30px;
    margin-left: -50px;
  }
  body #mainNav li {
    text-align: center;
    list-style-type: none;
    font-size: 22px;
    margin-left: 8px;
    padding-bottom: 8px;
    display: inline;
  }
  body #mainNav a {
    text-align: center;
    list-style-type: none;
    color: #8899a4;
    padding: 10px;
    font-size: 22px;
    font-family: "Varela Round", sans-serif;
    display: inline;
  }
  body #mainNav a:hover {
    color: orange;
  }
  body #mainheader {
    width: 750px;
    height: 900px;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
  }
  body #mainheader img {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 30px;
  }
  body #mainheader .greenbar {
    width: 400px;
    height: 20px;
    background-color: #faf8ed;
    margin-left: 180px;
    margin-top: 8px;
    text-align: right;
  }
  body #mainheader .yellowbar {
    width: 750px;
    height: 2px;
    background-color: #00acb8;
    margin-left: 0px;
    margin-top: 20px;
  }
  body #mainheader h2 {
    font-size: 40px;
    text-align: center;
    color: #595775;
    margin-top: 80px;
    width: 200px;
    margin-left: 280px;
  }
  body #mainheader h3 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    color: #595775;
    margin-left: 0px;
    margin-top: 20px;
  }
  body #mainheader p {
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    color: #aba6bf;
    margin-left: 220px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  body .part1 {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 750px;
    height: 560px;
    margin-top: 0px;
  }
  body .part1 .greybar {
    display: flex;
    width: 700px;
    text-align: center;
    height: 3px;
    background-color: lightblue;
    margin-top: 30px;
  }
  body .part1 img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
  }
  body .part1 p {
    text-align: center;
    width: 600px;
    font-size: 26px;
    color: #0e698a;
  }
  body .part1 .popover {
    display: none;
    position: absolute;
    top: 18%;
    left: 110%;
    background-color: orange;
    width: 350px;
    z-index: 1;
    border-radius: 8px;
    padding: 4px;
  }
  body .part1 .show-popover {
    display: block;
  }
  body .part1 .see_more {
    display: none;
    padding: 12px 18px;
    border-radius: 8px;
    color: white;
    background-color: #dadada;
    margin-top: 8px;
  }
  body #about {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
  body #about h3 {
    text-align: center;
    color: #583e2e;
    font-size: 30px;
  }
  body #about .greybar2 {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #6497da;
  }
  body #about p {
    text-align: center;
    color: #2f366b;
    font-size: 15px;
  }
  body #about #pastwork {
    text-align: center;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
  }
  body #about #pastwork img {
    width: 260;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
  }
  body #about #pastwork #pastwork1 {
    display: inline-block;
  }
  body #about #pastwork #pastwork1 img {
    width: 260px;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
    margin-left: 20px;
  }
  body #about #pastwork #pastwork2 {
    display: inline-block;
  }
  body #about #pastwork #pastwork2 img {
    width: 260px;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
    margin-left: 20px;
  }
  body #contact {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 750px;
    height: 460px;
    background-color: #fdf05d;
  }
  body #contact #contacttable {
    display: inline;
  }
  body #contact #contacttable .part4 {
    display: flex;
    width: 230px;
  }
  body #contact #contacttable .part4 img {
    width: 260px;
    height: auto;
  }
  body #contact h2 {
    font-size: 30px;
    color: #595775;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
  }
  body #contact #formcon {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: -280px;
    margin-right: 36px;
  }
  body #contact #formcon label {
    font-size: 16px;
    color: #aba6bf;
    text-align: center;
    margin-left: 360px;
  }
  body #contact #formcon input,
body #contact #formcon textarea {
    text-align: center;
    display: block;
    margin-left: 410px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 6px;
    width: 320px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #999;
    font-size: 10px;
  }
  body #photograph {
    text-align: center;
    margin: 0 auto;
    width: 750px;
    display: flex;
    flex-direction: row-reverse;
  }
  body #photograph h2 {
    font-size: 16px;
    color: #d4dca9;
    text-align: right;
    margin-top: 40px;
    display: none;
  }
  body #photograph .bluebar {
    margin-top: 10px;
    width: 300px;
    height: 3px;
    background-color: aquamarine;
    text-align: right;
  }
  body #photograph img {
    width: 400px;
    height: auto;
    margin-top: 20px;
  }
  body #footer {
    display: inline;
    list-style-type: none;
  }
  body #footer .socialMedia {
    display: inline;
  }
  body #footer .socialMedia ul {
    list-style-type: none;
    margin-top: 30px;
  }
  body #footer .socialMedia ul li {
    display: inline;
    margin-left: 25px;
  }
  body #footer .socialMedia img {
    width: 50px;
    height: auto;
  }
}
@media screen and (min-width: 750px) {
  body {
    width: 1080px;
    background-color: #faf8ed;
    text-align: center;
    margin: 0 auto;
  }
  body .hidden {
    display: none;
  }
  body * {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 13pt;
    list-style-type: none;
  }
  body #topbar {
    display: none;
    width: 1080px;
    height: 90px;
    background-color: #89d2e8;
    margin-left: 0px;
  }
  body #topbar img {
    width: 90px;
    height: auto;
    display: none;
  }
  body #mainNav {
    display: inline;
    text-align: center;
  }
  body #mainNav ul {
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-top: 30px;
    margin-left: -50px;
  }
  body #mainNav li {
    text-align: center;
    list-style-type: none;
    font-size: 22px;
    margin-left: 8px;
    padding-bottom: 8px;
    display: inline;
  }
  body #mainNav a {
    text-align: center;
    list-style-type: none;
    color: #8899a4;
    padding: 20px;
    font-size: 22px;
    font-family: "Varela Round", sans-serif;
    display: inline;
  }
  body #mainNav a:hover {
    color: orange;
  }
  body #mainheader {
    width: 1080px;
    height: 880px;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
  }
  body #mainheader img {
    width: 1080px;
    text-align: center;
    margin: 0 auto;
    margin-left: 0px;
    margin-top: 30px;
  }
  body #mainheader .greenbar {
    width: 300px;
    height: 26px;
    background-color: #fde452;
    margin-left: 780px;
    margin-top: 8px;
    text-align: right;
  }
  body #mainheader .yellowbar {
    width: 1080px;
    height: 2px;
    background-color: #00acb8;
    margin-left: 0px;
    margin-top: 20px;
  }
  body #mainheader h2 {
    font-size: 50px;
    text-align: right;
    color: #595775;
    margin-top: 80px;
    margin-left: 860px;
    width: 200px;
  }
  body #mainheader h3 {
    font-size: 40px;
    text-align: right;
    margin: 0 auto;
    color: #595775;
    margin-top: 20px;
  }
  body #mainheader p {
    font-size: 22px;
    text-align: right;
    margin: 0 auto;
    color: #aba6bf;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  body .part1 {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    width: 1080px;
    height: 700px;
    margin-top: 0px;
  }
  body .part1 .greybar {
    display: none;
    width: 700px;
    text-align: center;
    height: 3px;
    background-color: #faf8ed;
    margin-top: 30px;
  }
  body .part1 img {
    text-align: center;
    width: 400px;
    height: auto;
    margin-top: 50px;
    margin-left: -10px;
  }
  body .part1 p {
    text-align: center;
    width: 700px;
    font-size: 26px;
    margin-left: 160px;
    margin-top: -60px;
    color: #404547;
  }
  body #about {
    text-align: center;
    width: 1080px;
    margin: 0 auto;
    margin-top: 30px;
  }
  body #about h3 {
    text-align: center;
    color: #583e2e;
    font-size: 30px;
  }
  body #about .greybar2 {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: #f3f9f1;
  }
  body #about p {
    text-align: center;
    color: #2f366b;
    font-size: 15px;
  }
  body #about #pastwork {
    text-align: center;
    margin: 0 auto;
    display: flex;
    width: 1080px;
    margin-top: 20px;
  }
  body #about #pastwork img {
    width: 260;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
  }
  body #about #pastwork #pastwork1 {
    display: inline-block;
  }
  body #about #pastwork #pastwork1 img {
    width: 260px;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
    margin-left: 20px;
  }
  body #about #pastwork #pastwork2 {
    display: inline-block;
  }
  body #about #pastwork #pastwork2 img {
    width: 260px;
    height: auto;
    margin-top: 20px;
    border-radius: 16px;
    margin-left: 20px;
  }
  body #contact {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 1080px;
    height: 460px;
    background-color: #fdf05d;
  }
  body #contact #contacttable {
    display: inline;
  }
  body #contact #contacttable .part4 {
    width: 400px;
    height: 300px;
    display: flex;
  }
  body #contact #contacttable .part4 img {
    width: 400px;
    height: auto;
  }
  body #contact #contacttable h2 {
    font-size: 30px;
    color: #595775;
    text-align: left;
    margin: 0 auto;
    margin-top: 10px;
  }
  body #contact #contacttable #formcon {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-top: -330px;
  }
  body #contact #contacttable #formcon label {
    font-size: 16px;
    color: #aba6bf;
    text-align: center;
    margin-left: 660px;
  }
  body #contact #contacttable #formcon input,
body #contact #contacttable #formcon textarea {
    text-align: center;
    display: block;
    margin-left: 710px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 6px;
    width: 320px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #999;
    font-size: 10px;
  }
  body #photograph {
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    display: flex;
    flex-direction: row-reverse;
  }
  body #photograph h2 {
    font-size: 16px;
    color: #d4dca9;
    text-align: right;
    margin-top: 40px;
    display: none;
  }
  body #photograph .bluebar {
    display: none;
    margin-top: 10px;
    width: 300px;
    height: 3px;
    background-color: aquamarine;
    text-align: right;
  }
  body #photograph img {
    width: 540px;
    height: auto;
    margin-top: 20px;
  }
  body #footer {
    display: inline;
    list-style-type: none;
  }
  body #footer .socialMedia {
    display: inline;
  }
  body #footer .socialMedia ul {
    list-style-type: none;
    margin-top: 30px;
  }
  body #footer .socialMedia ul li {
    display: inline;
    margin-left: 25px;
  }
  body #footer .socialMedia img {
    width: 50px;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
