<div id="border"></div>

<header id="mainheader">
  

  <div id="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      
    </ul>
  </div>
</header>

<section class="part1">
  <img src="" alt="">
  <div id="logo">
    logo here
  </div>
  <h2>Ouyang Yibin</h2>

</section>


<section id="about">   
   <div id="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      
    </ul>
  </div>
   <h2 class="hidden">About Me</h2>
   <p>A student in Fanshawe Collage</p>
  
  <div id="pastwork">
    <img src="#" alt="">
    <img src="#" alt="">
    <img src="#" alt="">
  </div>

  <div id="snap"></div>
</section>

<section id="contact">
     <div id="nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      
    </ul>
  </div>
  <h2>Contact Me</h2>>

  <form action="" id="contact-form" method="POST">
    <input placeholder="Name" type="text" required autofocus>
    <input placeholder="Email" type="text" required autofocus>
    <textarea placeholder="Phone" type="text" required autofocus></textarea>
  
    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
  </form>
</section>

<footer id="footer">
  
</footer>